/* My Defaults */
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
a:hover{
    text-decoration: none;
}
p{
    margin:0;
}
ul{
    margin:0;
}


/* My Custom Classes */


.my-container{
    width:90%;
    margin:auto;
}

/* Only for navigation */
.nav-container{
    width: 90%;
    margin:auto;
}
.clear{
    clear: both;
}

/*End Only for navigation */

/* End My Custom Classes */

/* End My Defaults */

/* Home Page */

/*Start Header */
.header-top{
    background: black;
}
.header-top-item{
    text-align: center;
    border-right:1px solid #464444
}
.header-top-item i{
    color:#2fdab8;
    margin-right: 12px;
    font-size: 13px;
}
.header-top-item p,.header-top-item a{
    color:#fff;
    vertical-align: middle;
    letter-spacing: 1px;
    margin:0;
    font-size: 13px;
    padding: 5px;
}
.header-bottom{
        padding: 15px 0px;
}
.header-bottom-item{
  display: flex;
  align-items: center;
}
/* Search */
.search-icon{
    background-image:url("../img/search.png");
    width:50px;
    height: 50px;
    background-color: #2fdab8;
    border:none;
    outline: none;
    margin-left:3px;
}
.search-input{
    outline: none;
    border: none;
    width: 87%;
    padding: 12px 10px;
    color: #848484;
    font-size: 16px;
    border: 1px solid #ddd;
    letter-spacing: 1px;

}
/* Logo */
.logo.header-bottom-item{
    justify-content: center;
}
.logo span{
   display: inline-block;
   padding:4px 17px;
   background: black;
   font-weight: bold;
   color:white;
   margin-right: -13px;
}
.logo h1 a{
    color: #000;
    letter-spacing: 1px;
    font-size: 1.2em;
    position: relative;
}
.logo i{
    font-size: 0.3em;
    position: absolute;
    top:87%;
    right: 5%;
    color:#2fdab8;
}
/* Social */
.social.header-bottom-item{
    justify-content: flex-end;
}
.social li{
    float: left;
}
.social li:first-child{
    font-size: 1em;
    padding-top: 3px;
    font-weight: 600;
    letter-spacing: 2px;
    color:#000;
}
.social .social-items .front,
.social .social-items .back{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}
.social .social-items .front{
    color:white;
    transition: all 0.3s ease-in-out;
}
.social .social-items .back{
    color:black;
    background: white;
    transform: rotateX(90deg) translateZ(18px);
    transition: all 0.3s ease-in-out;
}
.social a{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 0.8em;
    margin:0px 8px;
    transition: all 1s ease-in-out;
}
.social a.facebook .front{
    background:#3b5998 ;
}

.social a.twitter .front{
    background:#00acee ;
}

.social a.instagram .front{
    background:#f77737 ;
}

.social a.linkedin .front{
    background:#bd081c ;
}
.social-items a:hover .front{
    transform:  rotateX(-90deg) translateZ(18px);
    transition: all 0.3s ease-in-out;
}
.social-items a:hover .back{
    transform:  rotateX(0deg);
    transition: all 0.3s ease-in-out;
}

/* Navigation */
.nav-wrapper{
    background: #000;
    position: relative;
}
.nav-wrapper nav > ul > li{
    float: left;
    position: relative;
    margin:0px 5px;
}
.nav-wrapper nav > ul > li > a{
    font-size: 16px;
    color:#e7e7e7;
    letter-spacing: 1px;
    display: inline-block;
    padding:26px 16px;
    overflow: hidden;
    vertical-align: top;
    position: relative;
}
.nav-wrapper nav > ul > li i{
    vertical-align: middle;
    color:#e7e7e7;
    font-size: 0.8em;
    margin-left:2px;
}
.nav-wrapper .menu-line{
    position: absolute;
    bottom:0;
    left:-102%;
    width:100%;
    height: 5px;
    background: #2fdab8;
    transition: all 0.4s ease-in-out;
    transition-delay:0.2s; 
    overflow: hidden;
}
.nav-wrapper nav > ul > li > a:hover .menu-line{
    transition: all 0.4s ease-in-out;
    left:0;
}
.menu-line.active{
    left:0;
}
.navigation.mobile{
    z-index:100;
}
/* Basket */
.basket-wrapper .basket{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2fdab8;
}
.basket-wrapper .basket span{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 1.8em;
    cursor: pointer;
    display: inline-block;
    background-color: #17c3a2;
}
.basket-wrapper i{
    color:black;
}
/* End Basket */

/* Hamburger Menu */
.hamburger-menu{
    width: 40px;
    z-index:10;
    height: 35px;
    border:1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:5%;
    cursor: pointer;
    display: none;

}
.hamburger-menu span{
    width: 19px;
    height: 1px;
    background: #888;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: inline-block;
}
.hamburger-menu span::after,
.hamburger-menu span::before{
    content: "";
    width: 20px;
    height:1px;
    background: #888;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
}
.hamburger-menu span::after{
    top:6px;
}
.hamburger-menu span::before{
    top:-6px;
}

/* End Hamburger Menu */

/* Dropdown */
.dropdownable{
    position: relative;
}
.dropdown-list{
    position: absolute;
    top:100%;
    left:0;
    display: none;
    min-width: 700px;
    z-index: 1000;
    padding: 20px 15px;
    margin: 2px 0 0;
    background-color: #fff;
    border-radius: 4px;
    border:1px solid rgba(0, 0, 0, .15);
    box-shadow:  0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-list.active{
    display: block;
}
.mobile .dropdown-list-mobile{
    display: none;
}
.mobile .dropdown-list-mobile.active{
    display: block;
}
.dropdown-list-item img{
    width:100%;
    box-shadow: 0px 0px 7px 0px #AFAFAF;
}
.dropdown-list-item a{
    font-size: 0.8em;
    color: #545454;
    letter-spacing: 1px;
}
.dropdown-list-item li{
    padding: 7px 5px;
}

/* End Dropdown */

/*End Navigation */

/* End Header */


/* Main Start */

/* Slider Start */
.slider-wrapper{
    position: relative;
}
.slider-wrapper .slide-item{
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0px;
}
.slider-wrapper div{
    text-align: center;
}

.slider-wrapper .title h3{
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 14px;
    text-transform: uppercase;
    color:#fff;
}
.slider-wrapper .title h3 span{
    color:#2fdab8;
    font-weight: bold;
}
.slider-wrapper .text p{
    letter-spacing: 12px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffb900;
    margin-top: 1em;
}
.slider-wrapper  button{
    border:none;
    outline: none;
    color:#fff;
    letter-spacing: 3px;
    background: #2fdab8;
    padding: 7px 10px;
    margin-top:2em;
}
.slider-wrapper i{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color:#fff;
    font-size: 2.5em;
    cursor: pointer;
}
.slider-wrapper .left-icon{
    left:10%;
}
.slider-wrapper .right-icon{
    right:10%;
}